<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <% if (data != null) { %>
    <h1>게시글</h1>
    <form action="/edit/<%= data.POST_NO %>" method="post">
    Title : <input type="text" id='title' name='title' value="<%= data.POST_TITLE %>"></input>
    <p>
        contents : <input type="text" id='contents' name='contents' value="<%= data.CONTENTS %>"></input>
        <%= data.WRT_DTT %>
    </p>
    <button type="submit">update</button>
    </form>
    <form action="/delete/<%=data.POST_NO%>" method="POST">
    <button type="submit">delete</button>
    </form>
    
    <% } %>
</body>
</html>

