<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
</head>
<body>
<h1><%= title %></h1>
<a href="/create">글쓰기</a>
<table border="1">
    <tr>
        <td>bbs_no</td>
        <td>post_no</td>
        <td>post_title</td>
        <td>ID</td>
        <td>date</td>
        <td>views</td>
    </tr>
    <%
    for(var i=0; i<rows.length; i++)
    {
        var data = rows[i];
    %>
    <tr>
        <td><%=data.BBS_NO%></td>
        <td><%=data.POST_NO%></td>
        <td><a href="/show/<%=data.POST_NO%>"><%=data.POST_TITLE%></a></td>
        <td><%=data.WRT_ID%></td>
        <td><%=data.WRT_DTT%></td>
        <td><%=data.VIEW_CNT%></td>
    </tr>
    <%}%>
</table>
<form action="/search" method="get" class="search-form">
    <input type="text" class="search-bar" name="query" id="query" placeholder="검색어를 입력하세요">
    <input type="submit" class="search-button" value="검색">    
    </form>
    <% if (msg) {%>
    <script>
      var msg = "<%= msg %>";
      alert(msg);
    </script>
    <% } %>
</body>
</html>