<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport content=" width="device-width" , initial-scale="1.0" />
    <title>Pork Katsu : 우리들의 커뮤니티</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/PK_Mypage.css" />
  </head>

  <body>
    <header class="header">
      <!--헤더 왼쪽-->
      <div class="header_left">
        <img src="/img/Logo-PK.webp" alt="" />

        <form action="/search" method="get">
          <div class="header_input">
            <span class="material-icons" onclick="document.forms[0].submit()"
              >search</span
            >
            <input
              type="text"
              name="query"
              id="query"
              placeholder="Search in Pork katsu"
            />
          </div>
        </form>
      </div>

      <!--헤더 가운데-->
      <div class="header_middle">
        <div class="header_option" onclick="location.href='/index'">
          <span class="material-icons">person</span>
        </div>
        <div class="header_option">
          <span class="material-icons">bookmarks</span>
        </div>
        <div class="header_option" onclick="location.href='/list'">
          <span class="material-icons">school</span>
        </div>
        <div class="header_option" onclick="location.href='/show'">
          <span class="material-icons">connect_without_contact</span>
        </div>
        <div class="header_option">
          <span class="material-icons">groups</span>
        </div>
      </div>

      <!--헤더 우측-->
      <div class="header_right">
        <span class="material-icons">notifications_none</span>
        <div onclick="settingsMenuToggle()">
          <span class="material-icons">expand_more</span>
        </div>

        <!-- 토글 드롭 다운 -->
        <div class="settings_menu">
          <div class="settings_menu_inner">
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">settings</span>
              </div>
              <a href="#">환경설정</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">manage_accounts</span>
              </div>
              <a href="">내 정보 수정</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">create</span>
              </div>
              <a href="/create">게시물 작성</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">logout</span>
              </div>
              <a href="/logout">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
      <!--헤더 오른쪽-->
    </header>

    <!--메인 바디-->
    <div class="container">
      <div class="main_contents">
        <!--게시물-->
        <div class="post">
          <form
            action="/profile/edit/<%= users.LOGIN_ID %>"
            method="POST"
            id="wrapper"
            enctype="multipart/form-data"
          >
            <!-- content-->
            <div id="content">
              <div class="title">
                <h2>자신의 최신정보를 업데이트 해보세요</h2>
              </div>

              <!--사진-->
              <div class="Pcontainer">
                <div class="image-upload" id="image-upload">
                  <div class="button">
                    <h3 class="join_title">
                      <label for="chooseFile">
                        프로필 사진 선택 :
                        <span class="material-icons">add_photo_alternate</span>
                      </label>
                    </h3>
                  </div>
                  <input type="file" id="my_pic" name="my_pic" />

                  <div class="fileContainer">
                    <div class="fileInput">
                      <p>FILE NAME:</p>
                      <p id="fileName"></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 이름 -->
              <div>
                <h3 class="join_title"><label for="name">이름</label></h3>
                <span class="box int_name">
                  <p><%= users.NAME %></p>
                </span>
                <span class="error_next_box"></span>
              </div>

              <!-- EMAIL -->
              <div>
                <h3 class="join_title">
                  <label for="email"
                    >본인확인 이메일<span class="optional">(선택)</span></label
                  >
                </h3>
                <span class="box int_email">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="int"
                    maxlength="50"
                    value="<%= users.EMAIL %>"
                    placeholder="선택입력"
                  />
                </span>
                <span class="error_next_box"
                  >이메일 주소를 다시 확인해주세요.</span
                >
              </div>

              <hr class="M" />

              <!-- GENDER -->
              <div>
                <h3 class="join_title"><label for="gender">성별</label></h3>
                <span class="box gender_code">
                  <p><%= users.GENDER %></p>
                </span>
                <span class="error_next_box">필수 정보입니다.</span>
              </div>

              <!-- 학부/학과 -->
              <h3 class="join_title"><label for="haksa">계열</label></h3>
              <select id="haksa" name="haksa" class="box">
                <% if(users.HAKSA_NUM == '인공지능'){ %>
                <option value="인공지능" selected>융합스마트계열</option>
                <% } else if(users.HAKSA_NUM == '정보보안') { %>
                <option value="정보보안" selected>정보보안계열</option>
                <% } else if(users.HAKSA_NUM == '게임') { %>
                <option value="게임" selected>게임계열</option>
                <% } else if(users.HAKSA_NUM == '디지털디자인') { %>
                <option value="디지털디자인" selected>디자인계열</option>
                <% } else { %>
                <option value="" selected>계열선택</option>
                <% } %>
              </select>
              <span class="error_next_box"></span>

              <!--동아리-->
              <div>
                <h3 class="join_title"><label>동아리</label></h3>
                <span class="box int_name">
                  <input
                    type="text"
                    id="teams"
                    name="teams"
                    class="int"
                    maxlength="15"
                    value="<%= users.TEAMS %>"
                    placeholder="참여하고있는 동아리이름을 적어주세요."
                  />
                </span>
              </div>

              <hr class="M" />

              <!--한 줄 소개-->
              <div>
                <h3 class="join_title"><label>내 소개글</label></h3>
                <span class="box int_name">
                  <input
                    type="text"
                    id="about"
                    name="about"
                    class="int"
                    maxlength="30"
                    value="<%= users.ABOUT %>"
                    placeholder="30자 이내로 자신을 소개해보세요."
                  />
                </span>
              </div>

              <!--사용할 수 있는 기술 & 도구-->
              <div>
                <h3 class="join_title">
                  <label>사용할 수 있는 기술 & 도구</label>
                </h3>
                <span class="box int_name">
                  <input
                    type="text"
                    id="my_skill"
                    name="my_skill"
                    maxlength="20"
                    value="<%= users.MY_SKILL %>"
                    placeholder="#입력후 입력"
                  />
                </span>
              </div>

              <hr class="M" />
              <!-- PW1 -->
              <div>
                <h3 class="join_title">
                  <label for="password">비밀번호 확인</label>
                </h3>
                <span class="box int_pass">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="int"
                    maxlength="16"
                    placeholder="완료하려면 비밀번호를 입력해주세요"
                    required
                  />

                  <span id="alertTxt">사용불가</span>
                  <div id="pswd1_img1" class="pswdImg"></div>
                </span>
                <span class="error_next_box"></span>
              </div>

              <!-- PW2 -->
              <!-- <div>
                <h3 class="join_title">
                  <label for="pswd2">비밀번호 확인</label>
                </h3>
                <span class="box int_pass_check">
                  <input
                    type="text"
                    id="pswd2"
                    class="int"
                    maxlength="16"
                    placeholder="비밀번호와 동일하게 작성하세요."
                  />
                  <div id="pswd2_img1" class="pswdImg"></div>
                </span>
                <span class="error_next_box"></span>
              </div> -->

              <!-- JOIN BTN-->
              <div class="btn_area" style="text-align: center">
                <button id="btnJoin" type="submit">
                  <span>정보 업데이트</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% if (msg) {%>
    <script>
      var msg = "<%= msg %>";
      alert(msg);
    </script>
    <% } %> <%- include('footer'); -%>
  </body>
</html>
