<%- include('header'); -%>


<% contents.forEach((data, index) => { %>
    <!--메인 바디-->
    <div class="container">
        <!--왼쪽 사이드 바-->
        <div class="left_sidebar">
            
        </div>
        
        <div class="main_contents">
            <!-- <div class="post">
                <div class="user_profile">
                    <img src="" alt="" onerror="this.src='/img/NoAccount.png'">
                    <div>
                        <input type="button" value="글작성" onclick="showPopup();" />
                    </div>
                </div>
            </div> -->
        <!--게시물-->
        <div class="post">
            <div class="user_profile">
                <img src="" alt="" onerror="this.src='/img/NoAccount.png'">
                <div>
                    <p><%= data.WRT_ID%></p>
                    <br>
                    <%= data.WRT_DTT %>
                    <br>
                    <% if (data.WRT_ID == userID) { %>
                        <a href="/edit/<%= data.POST_NO %>">수정</a>
                    <% } %>
                </div>
            </div>
            <p class="post_text"><%= data.CONTENTS %></p>

            <!--게시물 밑에 옵션-->
            <div class="post_options">
                <div class="post_option">
                    <span class="material-icons">thumb_up</span>
                    <p>좋아요</p>
                </div>
                <div class="post_option">
                    <span class="material-icons">chat_bubble_outline</span>
                    <p>댓글</p>
                </div>
                <div class="post_option">
                    <span class="material-icons">bookmark_border</span>
                    <p>저장하기</p>
                </div>
            </div>
        </div>

    </div>


</div>

</div>
<% }); %> 
<%- include('footer'); -%>
