<%- include('header'); -%>



    <!--메인 바디-->
    <aside class="left_container">
 <!--왼쪽 사이드 바-->
        <div class="left_sidebar">
            <div class="sidebar_user_profile">
                <!--이미지 자리-->
                <div>
                    <div class="profile_img">
                        <img src="/img/Logo-PK.webp" alt="">
                    </div>
                    <p><%= users.NAME %></p>
                    <p><%= users.EMAIL %></p>
                </div>
            </div>
            <div class="sidebar_user_info">
                <h3> 내 정보 </h3>
                <p><%= users.GENDER %><br>계열: <%= users.HAKSA_NUM %><br>테니스 동아리 참여 중
                </p>
            </div>
            <diV class="sidebar_user_stack">
                <p class="Stitle">내 소개글</p>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash"></span>
                    <p>안녕하세요 한 줄 소개글 입니다.</p>
                </div>

            </diV>
            <diV class="sidebar_user_stack">
                <p>My Stacks & tech</p>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>react.js</p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>typescript</p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>next.js</p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>express.js</p>
                </div>
            </diV>
            <div class="footer">
                <p>Copyright 2021 - Team.Porkcutlet Leeyumin</p>
            </div>
        </div>
    </aside>
    <!-- <div class="container"> -->
        <% contents.forEach((data, index) => { %>
    <div class="right_container">
        <div class="main_contents">

        <div class="post">
            <div class="user_profile">
                <img src="" alt="" onerror="this.src='/img/NoAccount.png'">
                <div>
                    <p><a href="/profile/<%= data.WRT_ID%>"><%= data.WRT_ID%></a></p>
                    <a href="#" class="menu" onclick="sideMenu();">
                        <span class="material-icons">more_horiz</span>
                    </a>
                    <div class="side_menu" onclick="sideMenu();">
                        <li><a href="">게시물 수정</a></li>
                        <li><a href="">게시물 삭제</a></li>
                    </div>
                    <%= data.WRT_DTT %>
                     <!-- if (data.WRT_ID == userID) { %> -->
                        <!-- <a href="/edit/ data.POST_NO %>">수정</a> -->
                     <!-- } %> -->
                    </div>
                </div>
                <p class="post_text"><%= data.CONTENTS %></p>
                <p>
                    <img class="user_img" src="/user_img/<%= data.POST_TITLE %>" alt="">
                </p>
                
                <!--게시물 밑에 옵션-->
                <div class="post_options">
                    <div class="post_option">
                        <span class="material-icons">thumb_up</span>
                        <p>좋아요</p>
                    </div>
                    <div class="post_option"  onclick="comment()">
                        <span class="material-icons">chat_bubble_outline</span>
                        <p>댓글</p>
                    </div>
                    <!-- <div id="main"></div>
                    <p id="sub"></p> -->
                <div class="post_option">
                    <span class="material-icons">bookmark_border</span>
                    <p>저장하기</p>
                </div>
                 </div>
                </div>
            </div>
        </div>
        <% }); %> 
    <!-- </div> -->
</div>
<%- include('footer'); -%>
