<%- include('header'); -%>

 <!--헤더 우측-->
 <div class="header_right">
    <span class="material-icons">notifications_none</span>
    <div onclick="settingsMenuToggle()">
      <span class="material-icons">expand_more</span>
    </div>

    <!-- 토글 드롭 다운 -->
    <div class="settings_menu">
      <div class="settings_menu_inner">
        <div class="setting_links">
          <div class="settings_icon">
            <span class="material-icons">settings</span>
          </div>
          <a href="#">환경설정</a>
        </div>
        <hr />
        <div class="setting_links">
          <div class="settings_icon">
            <span class="material-icons">manage_accounts</span>
          </div>
          <p onclick="location.href='/profile/edit/<%= userID%>'">내 정보 수정</p>
        </div>
        <hr />
        <div class="setting_links">
          <div class="settings_icon">
            <span class="material-icons">create</span>
          </div>
          <p onclick="location.href='/create'">게시물 작성</p>
        </div>
        <hr />
        <div class="setting_links">
          <div class="settings_icon">
            <span class="material-icons">logout</span>
          </div>
          <p onclick="location.href='/logout'">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  <!--헤더 오른쪽-->
</header>


    <!--메인 바디-->
    <aside class="left_container">
 <!--왼쪽 사이드 바-->
        <div class="left_sidebar">
            <div class="sidebar_user_profile">
                <!--이미지 자리-->
                <div>
                    <div class="profile_img">
                        <img src="/profile_img/<%= users.MY_PIC %>" alt="" onerror="this.src='/img/NoAccount.png'">
                    </div>
                    <p><%= users.NAME %></p>
                    <p><%= users.EMAIL %></p>
                </div>
            </div>
            <div class="sidebar_user_info">
                <h3> 내 정보 </h3>
                <p><%= users.GENDER %><br>계열: <%= users.HAKSA_NUM %><br>
                    동아리 활동: <%= users.TEAMS %> 
                </p>
            </div>
            <diV class="sidebar_user_stack">
                <p class="Stitle">내 소개글</p>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash"></span>
                    <p><%= users.ABOUT %></p>
                </div>

            </diV>
            <diV class="sidebar_user_stack">
                <p>My Stacks & tech</p>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p><%= users.MY_SKILL %></p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>typescript</p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>next.js</p>
                </div>
                <div class="sidebar_used_tool">
                    <span class="sidebar_hash">#</span>
                    <p>express.js</p>
                </div>
            </diV>
            <div class="footer">
                <p>Copyright 2021 - Team.Porkcutlet Leeyumin</p>
            </div>
        </div>
    </aside>
    <!-- <div class="container"> -->
        <% contents.forEach((data, index) => { %>
    <div class="right_container">
        <div class="main_contents">

        <div class="post">
            <div class="user_profile">
                <img src="/profile_img/<%= data.MY_PIC %>" alt="" onerror="this.src='/img/NoAccount.png'">
                <div>
                    <div class="user_names" onclick="location.href='/profile/<%= data.WRT_ID%>'"><%= data.NAME%></div>
                   <% if (data.WRT_ID == userID) { %>
                       <div class="edit_btn" onclick="location.href='/edit/<%= data.POST_NO %>'">수정</div>
                    <% }; %>
                    <!-- <a href="#" class="menu" onclick="sideMenu();">
                        <span class="material-icons">more_horiz</span>
                    </a>
                    <div class="side_menu" onclick="sideMenu();">
                        <li><a href="">게시물 수정</a></li>
                        <li><a href="">게시물 삭제</a></li>
                    </div> -->
                    
                    <%= data.WRT_DTT %>
                    </div>
                </div>
                <pre class="post_text"><%= data.CONTENTS %></pre>
                <p>
                    <img class="user_img" src="/user_img/<%= data.POST_TITLE %>" alt="">
                </p>
                <div id="like_cnt" class="material-icons">thumb_up <span>0</span></div>
                
                <!--게시물 밑에 옵션-->
                <div class="post_options">
                    <div class="post_option" id="like">
                        <span class="material-icons" id="highlight">thumb_up</span>
                        <p>좋아요</p>
                    </div>
                    <!-- data-toggle="collapse" data-target="#demo=data.POST_NO %>" -->
                    <!-- onclick="location.href='comment/= data.POST_NO %>'" -->
                    <div class="post_option" onclick="location.href='comment/<%= data.POST_NO %>'" id="comment_list">
                        <span class="material-icons">chat_bubble_outline</span>
                        <p>댓글</p>
                    </div>
                <div class="post_option">
                    <span class="material-icons">bookmark_border</span>
                    <p>저장하기</p>
                </div>
                 </div>
                 <!-- <div id="demo">
                     <hr>
                     
                     
                </div> -->
                </div>
            </div>
            <% }); %> 
            <button class="more" id="more">
                더보기
            </button>
        </div>
    <!-- </div> -->
</div>

<%- include('footer'); -%>
