<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
<h1>게시글</h1>



<h2><%= data.POST_TITLE %></h2>
<p>작성자 : <%= data.WRT_ID%></p>
<p>조회수 : <%= data.VIEW_CNT%></p>
<p>
    <%= data.CONTENTS %>
    <%= data.WRT_DTT %>
</p>
<% if (isMine) { %>
<a href="/edit/<%=data.POST_NO%>">edit</a>
<% } %>
<a href="/list">list</a>
</form>
</body>
</html>